### Pattern to ignore binaries (files without an extension)
# Ignore all files
*

# Specific unignore for shaderc
!shaderc

# Unignore files with extensions
!*.*
!Makefile

# Unignore directories
!*/

### Actual Ignores
*.o
*.so
*.a
